body {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100px 300px 150px 100px;
	grid-template-areas: "a a"
						"b c"
						"d d"
						"e e"
}

header {
	grid-area: a;
	background: blue;
}

section#left {
	grid-area: b;
	background: yellow;
}

section#right {
	grid-area: c;
	background: red;
}

section#boxes {
	grid-area: d;
	display: flex;
	justify-content: space-between;
}

aside.box1 {
	grid-area: d;
	width: 32.5%;
	background: pink;
}

aside.box2 {
	grid-area: d;
	width: 32.5%;
	background: purple;
}

aside.box3 {
	grid-area: d;
	width: 32.5%;
	background: green;
}

footer {
	grid-area: e;
	background: orange;
}