body {
	margin: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 150px 600px 100px;
	grid-template-areas: "a"
						 "b"
						 "c"
}

header {
	background-image: url('images/bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	height: 150px;
	grid-area: a;
	display: flex;
	justify-content: space-between;
	align-items:center
}

h1 {
	color: white;
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 40px;
	padding-left: 50px;
	align-items: center;
}

header nav {
	width: 30%;
	margin-right: 30px;
}

header nav ul {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 14px;
	color: white;
	height: 100%;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	align-items: center;
}

.left-nav-container ul {
 	display: block;
 	list-style-type: none;
 	font-family: 'Roboto';
	font-weight: 700;
	font-size: 14px;
	color: black;

}

a.main:link {
	text-decoration: none;
	color: white;
}

a.main:hover {
	text-decoration: underline;
}

a.main:visited {
	color: white;
}

a.main:active {
	color: white;
}

a#side1:link {
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 300;
}

a#side1:visited {
	color: black;
}

a#side1:hover {
	color: black;
	text-decoration: underline;
}

a#side2:link {
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 300;
}

a#side2:visited {
	color: black;
}

a#side2:hover {
	color: black;
	text-decoration: underline;
}

section#main {
	grid-area: b;
	display: flex;
	justify-content: space-between;
	font-family: 'Roboto' ;
}

div.left-nav-container {
	width: 10%;
	display: flex;
	justify-content: center;
}

div.main-blog-container {
	width: 60%;
	overflow: scroll;
}

aside.partners-item {
	text-align: center;
	width: 20%;
	margin-right: 20px;
}

ul#categories {
	color: black;
	padding-left: 0;
}

ul#posts {
	color: black;
	padding-left: 0;
}

p {
	font-size: 14px;
	font-weight: 400;
}

footer {
	grid-area: c;
	text-align: center;
	background-color: rgb(242,244,246);
	color: rgb(113,122,128);
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
	font-weight:300;
}

h5 {
	font-size: 12px;
	font-weight: 300;
	font-style: italic;
}

h6 {
	font-family: 'Roboto' ;
	font-weight: 900;
	font-size: 40px;
	margin: 10px;
}

small {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 9px;
}

img {
	height: 200px;
}