body {
  font-family: sans-serif;
  margin: 3em;
  padding: 0;
}

div {
	background: green;
	margin-top: 300px;
	padding: 10px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}